<bz-card>
    <bz-card-content>
        <div class="fk-center fk-column">
            <bz-icon pack="bzDoc" iconName="alert-octangle" svgCss="svg-icon-extralarge" svg></bz-icon>
            <span class="fk-display-2-3 fk-bold">
                404
            </span>
            <div class="fk-r-mb-4 label" >Page you looking for is not found!</div>
            <button bzButton type="button" [routerLink]="['/pages/home']" class="fk-v-width-3"> Back to home </button>
        </div>
    </bz-card-content>
</bz-card>