<bz-layout>
    <!-- Header -->
    <bz-layout-header fixed>
        <app-header></app-header>
    </bz-layout-header>
    <!-- Sidebar-left -->
    <bz-sidebar-left>
        <app-sidebar-left></app-sidebar-left>
    </bz-sidebar-left>
    <bz-layout-content>
        <!-- Content -->
        <bz-layout-column>
            <ng-content></ng-content>
        </bz-layout-column>
        <!-- footer -->
        <bz-layout-footer>
            <app-footer></app-footer>
        </bz-layout-footer>
    </bz-layout-content>
    <!-- Sidebar right -->
    <bz-button-toogle></bz-button-toogle>
    <bz-sidebar-right>
        <app-sidebar-right></app-sidebar-right>
    </bz-sidebar-right>
</bz-layout>