<bz-layout>
    <!-- Header -->
    <bz-header>
       <app-header></app-header>
    </bz-header>
    <!-- Sidebar-left -->
    <bz-sidebar-left>
        <app-sidebar-left></app-sidebar-left>
    </bz-sidebar-left>
    <!-- Sidebar right -->
    <bz-sidebar-right>
        <app-sidebar-right></app-sidebar-right>
    </bz-sidebar-right>
    <!-- Content -->
    <bz-content>
        <ng-content></ng-content>
    </bz-content>
    <!--Footer-->
    <bz-footer>
       <app-footer></app-footer>
    </bz-footer>
</bz-layout>
