
<!-- FascinatiNG logo -->
<bz-card class="fk-p-mb-25">
    <bz-card-content>
        <p class="fk-flex-center">
            <a href="https://github.com/68ociredef/fascinatiNG" target="_blank">
              <img src="/assets/img/fascinating.png" alt="FascinatiNG Logo" width="220">
            </a>
          </p>
    </bz-card-content>
</bz-card>


<!--  What is fascinating -->
<bz-card>
    <bz-card-header>
        <span class="title"> What is FascinatiNG ? </span>
    </bz-card-header>

    <bz-card-content>
        <span> FascinatiNG is a User Interface (UI) component library whose functionality is to facilitate the
            construction
            of attractive, consistent and functional web pages or web applications
        </span>

        <div class="fk-p-mt-5">
         See <strong> FascinatiNG</strong>  <bz-link  href="https://68ociredef.github.io/pages/home" target="_blank" >  documentation</bz-link> for more detail
       
        </div >
    </bz-card-content>
</bz-card>