<!--  What is fascinating -->
<bz-card id="whatfascinating">
    <bz-card-header>
        <span class="title"> What is fascinating ? </span>
    </bz-card-header>

    <bz-card-content>
        <span> fascinating is a User Interface (UI) component library whose functionality is to facilitate the
            construction
            of attractive, consistent and functional web pages or web applications
        </span>

        <div class="fk-p-mt-5">
         See <strong>fascinating</strong> <a href="https://fascinating.micegroup.it/pages/home" target="_blank"> documentation</a> for more detail
        </div>
    </bz-card-content>
</bz-card>